meta(charset='UTF-8')
meta(name='viewport', content='width=device-width, initial-scale=1')

// SEO
title Don't Judge me！玩跳．TONE - JUKSY 流行生活網
meta(name='keywords', content='流行,潮流,街頭,生活,娛樂,時尚,精品,穿搭,影音,音樂,電影,設計,藝術,3C,超跑,正妹')
meta(name='description', content='什麼時候，我們漸漸失去了想像力，對這個世界不再好奇，誰說一定要符合期望？跳出框框，你看到的世界更廣大！正妹可以扮醜搞笑，豬血糕也可以是一塊布朗尼，打破想像，反而更加出色！')
// SEO end

// FB
meta(property='fb:app_id', content='608477045879026')
meta(property='og:title', content="Don't Judge me！玩跳．TONE")
meta(property='og:description', content='什麼時候，我們漸漸失去了想像力，對這個世界不再好奇，誰說一定要符合期望？跳出框框，你看到的世界更廣大！正妹可以扮醜搞笑，豬血糕也可以是一塊布朗尼，打破想像，反而更加出色！')
meta(property='og:image', content='img/fb.png')
meta(property='og:url', content='https://www.juksy.com/events/month1611donjudge')
meta(property='og:site_name', content='JUKSY 流行生活網')
meta(property='og:type', content='website')
// FB end

// Web Clip
link(rel='shortcut icon', href='https://www.juksy.com/img/logo.ico')
link(rel='apple-touch-icon-precomposed', href='https://www.juksy.com/img/logoios.ico')
// Web Clip end

// CSS
link(href='css/index.css', rel='stylesheet')
// CSS end

// JS global var
script(type='text/javascript')
	include ../js/head.js
// JS global var end