// layout03_infinite
section.layout_03_infinit.layout_03(data-menu='true')
	.layoutWrap(data-tags='["熱浪來襲", "hithot"]',data-filter='[56247, 56274, 56375]')
		h2.title 跨出界限．更加出色！
		.detail 
		.subTitleWrap
			p.subTitle 