// layout04
section.layout_04(data-menu='true')
	.layoutWrap
		h2.title  11月焦點：【玩跳．TONE】
		.detail 
		.sliderWrap
			.slidesWrap.fadeOut
				ul.slides
					li
						a.img.imgLoading(href='https://www.juksy.com/archives/59500', target='_blank', data-imgload='https://static.juksy.com/static/600x600/files/articles/59500/cover/58341be8c5ff5.png')
							.linkWrap
								.linkBorder
									span.ch 馬上閱讀
									span.ch.arrow →
						.txtWrap
							a.txt(data-dotdotdot='true', href='https://www.juksy.com/archives/59500', target='_blank')
								h3 JUKSY STAR｜安心亞：「人生就是要有高有低，才算活的漂亮！」
					li
						a.img.imgLoading(href='https://www.juksy.com/archives/59545', target='_blank', data-imgload='https://static.juksy.com/static/600x600/files/articles/59545/cover/58341c68a38bf.png')
							.linkWrap
								.linkBorder
									span.ch 馬上閱讀
									span.ch.arrow →
						.txtWrap
							a.txt(data-dotdotdot='true', href='https://www.juksy.com/archives/59545', target='_blank')
								h3 誰說正妹一定得耍氣質？盤點「搞笑女神」安心亞的 5 個經典角色！
					li
						a.img.imgLoading(href='https://www.juksy.com/archives/59175', target='_blank', data-imgload='https://static.juksy.com/static/600x600/files/articles/59175/cover/58341ceac3d23.png')
							.linkWrap
								.linkBorder
									span.ch 馬上閱讀
									span.ch.arrow →
						.txtWrap
							a.txt(data-dotdotdot='true', href='https://www.juksy.com/archives/59175', target='_blank')
								h3 顛覆主流！盤點流行上最夯的 4 個次文化　你喜歡的上榜了嗎？
// layout04 end